body {
  font-family: Arial, sans-serif;
}

#container {
  text-align: center;
}

#title {
  font-size: 30px;
  margin: 10px 0;
}

#description {
  font-size: 20px;
  margin: 10px 0;
}

#tree-map {
  display: inline-block;
}

#legend {
  text-align: center;
}

#legend svg {
  display: inline-block;
  margin: 20px auto 0 auto; /* Agregado margen arriba y centrado horizontalmente */
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
}

.tile {
  stroke: #fff;
}

.legend-item {
  cursor: pointer;
}
